# Data Cube

In [11]:
import atoti as tt
import pandas as pd

In [12]:
session = tt.Session()

Closing existing "Unnamed" session to create the new one.

In [13]:
df = pd.read_csv("Spotify_Youtube_Sample.csv")
df.head()

,Artist,Track,Album,Album_type,Views,Likes,Comments,Licensed,official_video,Stream
0,Gorillaz,Feel Good Inc.,Demon Days,album,693555221.0,6220896.0,169907.0,True,True,1.040235e+09
1,Gorillaz,Rhinestone Eyes,Plastic Beach,album,72011645.0,1079128.0,31003.0,True,True,3.100837e+08
2,Gorillaz,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),single,8435055.0,282142.0,7399.0,True,True,6.306347e+07
3,Gorillaz,On Melancholy Hill,Plastic Beach,album,211754952.0,1788577.0,55229.0,True,True,4.346636e+08
4,Gorillaz,Clint Eastwood,Gorillaz,album,618480958.0,6197318.0,155930.0,True,True,6.172597e+08

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20718 entries, 0 to 20717
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Artist          20718 non-null  object
 1   Track           20718 non-null  object
 2   Album           20718 non-null  object
 3   Album_type      20718 non-null  object
 4   Views           20248 non-null  float64
 5   Likes           20177 non-null  float64
 6   Comments        20149 non-null  float64
 7   Licensed        20248 non-null  object
 8   official_video  20248 non-null  object
 9   Stream          20142 non-null  float64
dtypes: float64(4), object(6)
memory usage: 1.6+ MB

In [15]:
views = session.read_csv("Spotify_Youtube_Sample.csv", keys = ["Artist", "Track", "Album"],)
views.head()

                                                                                                             Album_type  \
Artist           Track                                         Album
Zedd             Good Thing (with Kehlani)                     Good Thing (with Kehlani)                         single
Deftones         Be Quiet and Drive (Far Away)                 Around the Fur                                     album
                 Cherry Waves                                  Saturday Night Wrist                               album
Gorillaz         New Gold (feat. Tame Impala and Bootie Brown) New Gold (feat. Tame Impala and Bootie Brown)     single
Armin van Buuren Leave A Little Love                           Leave A Little Love                               single

                                                                                                                   Views  \
Artist           Track                                         Album
Zedd             Good Thing (with Kehlani)                     Good Thing (with Kehlani)                      75063724.0
Deftones         Be Quiet and Drive (Far Away)                 Around the Fur                                 36805017.0
                 Cherry Waves                                  Saturday Night Wrist                              17205.0
Gorillaz         New Gold (feat. Tame Impala and Bootie Brown) New Gold (feat. Tame Impala and Bootie Brown)   8435055.0
Armin van Buuren Leave A Little Love                           Leave A Little Love                             1918102.0

                                                                                                                  Likes  \
Artist           Track                                         Album
Zedd             Good Thing (with Kehlani)                     Good Thing (with Kehlani)                      1053756.0
Deftones         Be Quiet and Drive (Far Away)                 Around the Fur                                  318193.0
                 Cherry Waves                                  Saturday Night Wrist                               497.0
Gorillaz         New Gold (feat. Tame Impala and Bootie Brown) New Gold (feat. Tame Impala and Bootie Brown)   282142.0
Armin van Buuren Leave A Little Love                           Leave A Little Love                              25243.0

                                                                                                              Comments  \
Artist           Track                                         Album
Zedd             Good Thing (with Kehlani)                     Good Thing (with Kehlani)                       15336.0
Deftones         Be Quiet and Drive (Far Away)                 Around the Fur                                  12114.0
                 Cherry Waves                                  Saturday Night Wrist                               40.0
Gorillaz         New Gold (feat. Tame Impala and Bootie Brown) New Gold (feat. Tame Impala and Bootie Brown)    7399.0
Armin van Buuren Leave A Little Love                           Leave A Little Love                               821.0

                                                                                                              Licensed  \
Artist           Track                                         Album
Zedd             Good Thing (with Kehlani)                     Good Thing (with Kehlani)                          True
Deftones         Be Quiet and Drive (Far Away)                 Around the Fur                                     True
                 Cherry Waves                                  Saturday Night Wrist                              False
Gorillaz         New Gold (feat. Tame Impala and Bootie Brown) New Gold (feat. Tame Impala and Bootie Brown)      True
Armin van Buuren Leave A Little Love                           Leave A Little Love                                True

                                                                                                              official_video  \
Artist           Track                                         Album
Zedd             Good Thing (with Kehlani)                     Good Thing (with Kehlani)                                True
Deftones         Be Quiet and Drive (Far Away)                 Around the Fur                                           True
                 Cherry Waves                                  Saturday Night Wrist                                    False
Gorillaz         New Gold (feat. Tame Impala and Bootie Brown) New Gold (feat. Tame Impala and Bootie Brown)            True
Armin van Buuren Leave A Little Love                           Leave A Little Love                                      True

                                                                                                                   Stream
Artist           Track                                         Album
Zedd             Good Thing (with Kehlani)                     Good Thing (with Kehlani)                      230154632.0
Deftones         Be Quiet and Drive (Far Away)                 Around the Fur                                 122225430.0
                 Cherry Waves                                  Saturday Night Wrist                            60617517.0
Gorillaz         New Gold (feat. Tame Impala and Bootie Brown) New Gold (feat. Tame Impala and Bootie Brown)   63063467.0
Armin van Buuren Leave A Little Love                           Leave A Little Love                             86800487.0

Creating a data cube:

In [17]:
cube = session.create_cube(views, name = "Views")
cube

In [19]:
m = cube.measures
m

{'contributors.COUNT': <atoti.measure.Measure object at 0x14f680e90>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x14f680f10>, 'Comments.MEAN': <atoti.measure.Measure object at 0x14f680f50>, 'Comments.SUM': <atoti.measure.Measure object at 0x14f680f90>, 'Views.MEAN': <atoti.measure.Measure object at 0x14f680fd0>, 'Views.SUM': <atoti.measure.Measure object at 0x14f681010>, 'Stream.MEAN': <atoti.measure.Measure object at 0x14f681050>, 'Stream.SUM': <atoti.measure.Measure object at 0x14f681090>, 'Likes.MEAN': <atoti.measure.Measure object at 0x14f6810d0>, 'Likes.SUM': <atoti.measure.Measure object at 0x14f681110>}

In [20]:
l = cube.levels
l

### Playing with the cube:

0d - Apex:

In [23]:
cube.query(m["Views.SUM"])

              Views.SUM
0  1,902,053,002,307.00

1d

In [29]:
cube.query(m["Views.SUM"], levels = [l["Artist"]])

                       Views.SUM
Artist
$NOT              110,784,903.00
$uicideboy$       334,135,108.00
(G)I-DLE        1,754,953,941.00
*NSYNC          1,027,832,862.00
070 Shake          96,099,359.00
...                          ...
will.i.am       2,831,320,166.00
Ángela Aguilar  1,385,295,291.00
Ñejo              626,680,824.00
Ñengo Flow        812,726,315.00
Øneheart           34,623,310.00

[2063 rows x 1 columns]

In [27]:
cube.query(m["Views.SUM"], levels = [l["Artist"]], filter=l["Artist"] == "The Beatles")

                  Views.SUM
Artist
The Beatles  654,203,717.00

2d

In [32]:
cube.query(m["Views.SUM"], levels = [l["Artist"], l["Album"]])

                                                       Views.SUM
Artist   Album
$NOT     - TRAGEDY +                               27,476,475.00
         Beautiful Havoc                           29,367,387.00
         EAT YOUR HEART OUT                           681,136.00
         Ethereal                                  10,114,989.00
         Fast & Furious: Drift Tape (Phonk Vol 1)      76,559.00
...                                                          ...
Øneheart snowfall (Slowed + Reverb)                15,361,992.00
         snowfall (Sped Up)                         1,707,355.00
         this feeling                                 856,049.00
         watching the stars                           323,775.00
         watching the stars (Remixes)                 139,020.00

[13955 rows x 1 columns]

In [33]:
cube.query(m["Views.SUM"], levels = [l["Artist"], l["Album"]], filter=l["Artist"] == "Pink Floyd")

                                          Views.SUM
Artist     Album
Pink Floyd The Dark Side of the Moon  36,068,129.00
           The Wall                   49,033,032.00
           Wish You Were Here            328,482.00

In [34]:
cube.query(m["Views.SUM"], levels = [l["Artist"], l["Track"]], filter=l["official_video"] == "true")

                                           Views.SUM
Artist   Track
$NOT     BERETTA (feat. Wifisfuneral)   9,955,285.00
         Demon (featuring $NOT)            76,559.00
         Doja                          10,114,989.00
         GOSHA                         11,434,276.00
         KILL CUPID                       681,136.00
...                                              ...
Øneheart snowfall (Slowed + Reverb)    15,361,992.00
         snowfall (Sped Up)             1,707,355.00
         this feeling                     856,049.00
         watching the stars               323,775.00
         watching the stars (Sped Up)     139,020.00

[15667 rows x 1 columns]

In [35]:
cube.query(m["Views.SUM"], levels = [l["Artist"], l["Track"]], filter=l["official_video"] == "false")

                                                                   Views.SUM
Artist      Track
$NOT        Mean                                               13,563,870.00
            Tell Em                                            41,100,657.00
$uicideboy$ ...And to Those I Love, Thanks for Sticking Ar...      39,287.00
            Antarctica                                          1,995,072.00
            My Flaws Burn Through My Skin Like Demonic Fla...  10,278,920.00
...                                                                      ...
Ñejo        Escápate Conmigo - Remix                            4,495,434.00
Ñengo Flow  Cochinae (Remix)                                        5,652.00
            Cuando Me Dirá                                        178,831.00
            Gato de Noche                                      27,845,075.00
            Que Malo                                            1,268,158.00

[4500 rows x 1 columns]

3d

In [43]:
cube.query(m["Views.SUM"], levels = [l["Artist"], l["Album"], l["Track"]])

                                                                                 Views.SUM
Artist   Album                        Track
$NOT     - TRAGEDY +                  BERETTA (feat. Wifisfuneral)            9,955,285.00
                                      GOSHA                                  11,434,276.00
                                      Moon & Stars (feat. Maggie Lindemann)   6,086,914.00
         Beautiful Havoc              Like Me (feat. iann dior)              15,803,517.00
                                      Mean                                   13,563,870.00
...                                                                                    ...
Øneheart snowfall (Slowed + Reverb)   snowfall (Slowed + Reverb)             15,361,992.00
         snowfall (Sped Up)           snowfall (Sped Up)                      1,707,355.00
         this feeling                 this feeling                              856,049.00
         watching the stars           watching the stars                        323,775.00
         watching the stars (Remixes) watching the stars (Sped Up)              139,020.00

[20248 rows x 1 columns]

In [44]:
cube.query(m["Views.SUM"], levels = [l["Artist"], l["Album"], l["Track"]], filter=l["official_video"] == "false")

                                                                                                               Views.SUM
Artist      Album                                       Track
$NOT        Beautiful Havoc                             Mean                                               13,563,870.00
            Tell Em                                     Tell Em                                            41,100,657.00
$uicideboy$ $outh $ide $uicide                          Runnin' Thru the 7th with My Woadies                  419,813.00
            Antarctica                                  Antarctica                                          1,995,072.00
            I No Longer Fear the Razor Guarding My Heel My Flaws Burn Through My Skin Like Demonic Fla...  10,278,920.00
...                                                                                                                  ...
Ñejo        Escápate Conmigo (Remix)                    Escápate Conmigo - Remix                            4,495,434.00
Ñengo Flow  Cochinae (Remix)                            Cochinae (Remix)                                        5,652.00
            Gato de Noche                               Gato de Noche                                      27,845,075.00
            Real G 4 Life Part 2                        Cuando Me Dirá                                        178,831.00
            YHLQMDLG                                    Que Malo                                            1,268,158.00

[4525 rows x 1 columns]

You can continue adding more dimensions, until the max dimension is reached (base).